body {
        font-family: Garamond, serif;
        
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number],input[type=select],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
 
}

h2 {
  text-shadow: 0 0 3px black;
}

button {
  background-color:#6699CC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 50%;
 text-decoration:none;
}
.container {
  padding: 5px;
}
button:hover {
  opacity: 0.8;
}
.box{
  background-color: #add8e6;
  width: 300px;
  border: 10px solid white;
  padding: 50px;
  margin: 20px;
  font-size: 17px;
}